<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta
  name="description"
  content="Hello and welcome to Isak Granqvist's website. I develop full-stack applications. You can reach me at: contact@granqvist.dev"
/>
<meta
  name="keywords"
  content="web developer, software developer, frontend, backend, devops"
/>
<meta property="og:title" content="Isak Granqvist Software Developer" />
<meta
  property="og:description"
  content="Frontend, Backend, DevOps, Software Developer"
/>

<meta
  property="og:image"
  content="https://storage.googleapis.com/granqvist_dev_bucket/images/png/og.png"
/>
<meta property="og:url" content="https://granqvist.dev" />

<meta name="twitter:title" content="Isak Granqvist Software Developer" />
<meta
  name="twitter:description"
  content="Professional fullstack software developer"
/>
<meta
  name="twitter:image"
  content="https://storage.googleapis.com/granqvist_dev_bucket/images/png/og.png"
/>
<meta name="twitter:card" content="summary_large_image" />

<link
  rel="shortcut icon"
  type="image/x-icon"
  href="https://storage.googleapis.com/granqvist_dev_bucket/images/icon.ico"
/>
<link
  rel="apple-touch-icon"
  href="https://storage.googleapis.com/granqvist_dev_bucket/images/icon.ico"
/>

<link
  rel="stylesheet"
  href="https://storage.googleapis.com/granqvist_dev_bucket/libs/css/aos.min.css"
/>
<link
  rel="stylesheet"
  href="https://storage.googleapis.com/granqvist_dev_bucket/css/main.min.css"
/>

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-SFK4JQRKBG"
></script>
<script
  src="https://storage.googleapis.com/granqvist_dev_bucket/libs/js/aos.min.js"
  defer
></script>
<script
  src="https://storage.googleapis.com/granqvist_dev_bucket/js/main.js"
  defer
></script>

<title>Isak Granqvist - Software Developer</title>
