<section class="bg-dark" id="about" tabindex="3">
  <div class="container">
    <div class="flex-item">
      <h2 data-aos="fade-down">granqvist.dev</h2>
      <p class="body1" data-aos="fade-up">
        I am a 24 year old technology enthusiast and mostly self-taught software
        developer. I love working on new and challenging problems and come up
        with creative and innovative solutions.
      </p>
      <p class="body1" data-aos="fade-up">
        I mostly deliver custom software and applications tailored to specific
        business requirements. Primarily web and server applications.
      </p>
    </div>
    <div class="flex-item" data-aos="fade-left">
      <img
        src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/about.svg"
        alt=""
      />
    </div>
  </div>
</section>
