<footer class="bg-dark" id="contact" tabindex="5">
  <div class="container">
    <div class="social">
      <h3 data-aos="fade-in">You can find me on social media</h3>

      <div class="social-icons">
        <a
          target="_blank"
          rel="noreferrer"
          data-aos="fade-right"
          href="https://www.instagram.com/isakgranqvist2021/"
          title="Instagram"
        >
          <img
            src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/instagram.svg"
            alt="Instagram Icon"
            loading="lazy"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer"
          data-aos="zoom-in"
          href="https://www.linkedin.com/in/isak-granqvist-b1217a207/"
          title="Linkedin"
        >
          <img
            src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/linkedin.svg"
            alt="Linkedin Icon"
            loading="lazy"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer"
          data-aos="fade-left"
          href="https://github.com/isakgranqvist2021"
          title="Github"
        >
          <img
            src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/github.svg"
            alt="Github Icon"
            loading="lazy"
          />
        </a>
      </div>

      <p class="email-text">contact@granqvist.dev</p>
    </div>
  </div>
</footer>
