<section class="bg-light" id="home" tabindex="1">
  <div class="container">
    <div class="hero-content">
      <h1 data-aos="fade-in">
        Professional
        <br />
        software developer
      </h1>

      <p class="subtitle1" data-aos="fade-in">
        I build professional web applications, modern desktop applications, and
        reliable server software. <a href="#contact">Contact me</a>
        for further information.
      </p>
      <div class="hero-actions">
        <a
          href="#contact"
          class="button outlined"
          aria-label="Bring me to contact"
          data-aos="fade-right"
        >
          Get in touch
        </a>
        <a
          class="button"
          href="#technology"
          aria-label="Bring me to technologies"
          data-aos="fade-left"
        >
          Technology
        </a>
      </div>
    </div>
  </div>
  <img
    class="phone"
    alt="Smartphone icon"
    src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/phone.svg"
  />
  <img
    class="artboard"
    src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/artboard.svg"
    alt="Webpage image with icons"
  />
</section>
