<section class="bg-dark" id="solutions" tabindex="1">
  <div class="container">
    <div class="grid">
      <div class="card" data-aos="fade-right">
        <div class="card-icon">
          <img
            src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/domain.svg"
            alt="Business building icon"
          />
        </div>
        <h3>Backend Development</h3>
        <p class="subtitle2">
          Do you need reliable software to power your business infrastructure? I
          utilize popular tools like TypeScript, C# and Go to make that happen.
        </p>
      </div>
      <div class="card" data-aos="fade-up">
        <div class="card-icon">
          <img
            src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/store-front.svg"
            alt="Storefront icon"
          />
        </div>
        <h3>Frontend Development</h3>
        <p class="subtitle2">
          Do you want a modern, fast and user friendly user interface? I build
          modern user interfaces with tools like React and Angular.
        </p>
      </div>
      <div class="card" data-aos="fade-left">
        <div class="card-icon">
          <img
            src="https://storage.googleapis.com/granqvist_dev_bucket/images/svg/cloud.svg"
            alt="Cloud icon"
          />
        </div>
        <h3>Cloud Solutions</h3>
        <p class="subtitle2">
          Are you looking to scale your software infrastructure with tools
          provided by Google or Amazon? Then I would be glad to help you.
        </p>
      </div>
    </div>
  </div>
</section>
