<section id="technology" tabindex="2">
  <div class="container">
    <div class="grid">
      <div
        style="
          background-size: 60%;
          background-image: url(https://storage.googleapis.com/granqvist_dev_bucket/images/png/go.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Go Programming Language"
      ></div>
      <div
        style="
          background-size: 55%;
          background-image: url(https://storage.googleapis.com/granqvist_dev_bucket/images/png/node.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Node.js"
      ></div>
      <div
        class="grid-item"
        style="
          background-size: 40%;
          background-image: url(https://storage.googleapis.com/granqvist_dev_bucket/images/png/react.png);
        "
        data-aos="zoom-in"
        title="React.js"
      ></div>
      <div
        style="
          background-size: 30%;
          background-image: url(https://storage.googleapis.com/granqvist_dev_bucket/images/png/angular.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Angular"
      ></div>
      <div
        style="
          background-size: 70%;
          background-image: url(https://storage.googleapis.com/granqvist_dev_bucket/images/png/typescript.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="TypeScript"
      ></div>
      <div
        style="
          background-size: 40%;
          background-image: url(https://storage.googleapis.com/granqvist_dev_bucket/images/png/aws.png);
        "
        class="grid-item"
        data-aos="zoom-in"
        title="Amazon Web Services"
      ></div>
    </div>
  </div>
</section>
